.td{
    width: 130px;
    
    
}
.td1{
    width: 40px;
    
}
.tr{
    text-align: left;
    line-height: 0px;
} 
.table:nth-child(even){background-color: #e66b6b;}

.table{
    
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    
        
}

.list{
    list-style-type: none; 
    
}
.navlist{
    list-style-type: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    
}

.main{
    margin-left: 190px;
    
}
.button{
    margin-left: 40px; 
}
.stats{
  height: 220%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 1;
  margin-left: -30px;
}